<div class="comments">
    <h3>Commentaires</h3>
    {% if is_granted('ROLE_USER') %}
        {{ form(form) }}
    {% else %}
        <a href="{{ path('login') }}">Connectez-vous</a> pour pouvoir écrire des commentaires
    {% endif %}
    {% for comment in Comments %}
        <hr>
        <div class="row">
            <div class="col-sm-2"><strong>auteur : {{ comment.user.username }}</strong><br><small>{{ comment.GetModifiedDiff()}}</small></div>
            <div class="col-sm-10"><em>{{ comment.content }}</em></div>
        </div>
    {% endfor %}
</div>