{% extends "::base.html.twig" %}
    {% block title %}
        Blog index
    {% endblock %}
    {% block body %}
        <h1>{% block list_title %}
            {% endblock %}</h1>
        <div class="col-sm-10 col-sm-offset-1">
            {% for post in listPosts %}
                <div class="row">
                    <div class="col-sm-3">
                        <a href="/{{ post.id }}">
                            <img src="{{ post.image.url }}" alt="" width="100%">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        <h4><a href="/{{ post.id }}">{{ post.title }}</a></h4>
                        <div class="">
                            {% for category in post.categories %}
                                <a href="/category/{{ category.id }}" class="btn btn-warning btn-xs">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                        <p class="text-muted">
                            <small>
                                {% if post.isEdited %}
                                    Edité le :
                                {% else %}
                                    Créé le :
                                {% endif %}
                                {{ post.modifiedat | date("d/m/Y à H:i") }}
                            </small>
                        </p>
                        <p>{{ post.content[:400] }}
                            {% if post.content | length > 400 %}
                                <a href="/{{ post.id }}">... <i>lire la suite</i></a>
                            {% endif %}
                        </p>
                        {% if post.nbOfComments() > 0 %}
                            <small class="text-muted">{{ post.nbOfComments }} commentaires</small>
                        {% endif %}
                        {% if loop.last == false %}
                    </div>


                    {% endif %}
                </div>
                <hr>
            {% endfor %}
        </div>
    {% endblock %}
