{% extends "::base.html.twig" %}
    {% block title %}
        Blog index
    {% endblock %}
    {% block body %}
        <h1>Liste des articles</h1>
        <div class="col-sm-10 col-sm-offset-1">
        {% for post in listPosts %}
            <div>
                <h4><a href="/{{ post.id }}">{{ post.title }}</a></h4>
                <p class="text-muted">
                    <small>
                        {% if post.isEdited %}
                            Edité le :
                        {% else %}
                            Créé le :
                        {% endif %}
                        {{ post.modifiedat | date("d/m/Y à H/i") }}
                    </small>
                </p>
                <p>{{ post.content[:400] }}
                    {% if post.content | length > 400 %}
                        <a href="/{{ post.id }}">... <i>lire la suite</i></a>
                    {% endif %}
                </p>
                {% if loop.last == false %}
                <hr>
                {% endif %}
            </div>

        {% endfor %}
        </div>
    {% endblock %}
